[class*=sidebar-dark-] {
    background-color: #172b4d;
}

footer.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.card-footer {
    background-color: #fff;
    border-top: #fff;
}
p.text-position{
    margin-left: 6px !important;
}