.priceBox{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
}
.priceBox .picArea {
    width:30px;
    margin-right: 10px;
   
}
.priceBox .picArea img{ 
    width: 100%;
    height: auto !important;
    object-fit: contain !important;
}
.priceBox .infoArea h5{
    font-size: 16px;
    font-weight: 600;
    color:#000;
    margin-bottom: 0;
}
.priceBox .infoArea p{
    font-size: 12px;
    color: #000;
    margin-bottom: 0;
}
.priceBox .infoArea p span{color:rgb(6, 172, 6);}
.priceBox .infoArea svg{margin-right: 3px;}
.priceBox .infoArea p span.down{color:#ff0101;}
.priceBox .infoArea p span.down svg{transform: rotate(180deg);}
