.priceBox{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
}
.priceBox .picArea {
    width:30px;
    margin-right: 10px;
   
}
.priceBox .picArea img{ 
    width: 100%;
    height: auto !important;
    object-fit: contain !important;
}
.priceBox .infoArea h5{
    font-size: 16px;
    font-weight: 600;
    color:#000;
    margin-bottom: 0;
}
.priceBox .infoArea p{
    font-size: 12px;
    color: #000;
    margin-bottom: 0;
}
.priceBox .infoArea p span{color:#06ac06;}
.priceBox .infoArea svg{margin-right: 3px;}
.priceBox .infoArea p span.down{color:#ff0101;}
.priceBox .infoArea p span.down svg{transform: rotate(180deg);}
/* ------- */
.custom_img_type1{
    width:15px;
    margin: 0 3px 0 6px;
    position: relative;
    top: 1px;
}
.custom_img_type1 .img{
    width:100%;
    height: auto;
}
