body {
    background-color: #030B4F !important;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

ul li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

