@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  margin: 0;
  padding: 0;
  background-color: #020737;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
/* Removed wave background animation per request. */

/* Existing styles */
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
ul li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.banner-section {
  position: relative;
}
