@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  margin: 0;
  padding: 0;
  background-color: #020737 !important;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
/* Removed wave background animation per request. */

/* Existing styles */
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
ul li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
.my-navbar a {
  color: #2e1065 !important;
  font-weight: 500;
}
.footer-links li a{
  color: #d1d5db !important;
}
.footer-links li a:hover{
  color: #9850ee !important;  }
.my-navbar a:hover {
  color: #9850ee !important;}
.banner-section {
  position: relative;
}
.common-btn-page{
  
  padding: 8px 15px;
  border-radius: 5px;
  background:transparent;
  color: #000;
  border: 1px solid#ccc;
}
.common-btn{
  padding: 8px 20px;
  border-radius: 5px;
  background:linear-gradient(90deg,#9850ee 0%, #fdb748 100%);
  color: #fff;
  transition: all 0.8s ease-in-out;
}
.common-btn:hover{
  background:linear-gradient(90deg,#fdb748 0%, #9850ee 100%);
}
.reset-btn{
  transition: all 0.8s ease-in-out;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: transparent;
  background:#ccc;
  color: #555;
}
.reset-btn:hover{
  background-color: transparent;
  border: 1px solid #ccc;
  color: #000;
}
