/* newsGroup */
.blog_detail_sec .newsCard{color: aquamarine;}
.blog_detail_sec .newsCard .subHeadline{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog_detail_sec .newsCard .subHeadline h3{color: #fff;}
.blog_detail_sec .newsCard .subHeadline .btn{color: #fff;font-weight: 500;font-size: 14px;}
.blog_detail_sec .newsCard .cardBox{
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 25px;
}
.blog_detail_sec .newsCard .cardBox .picArea{width: 100%;
  height: 175px;}
.blog_detail_sec .newsCard .cardBox .picArea .img{
    border-radius: 6px 6px 0 0;
}
.blog_detail_sec .newsCard .cardBox .cardInfo{
    padding: 10px 15px 15px;
}
.blog_detail_sec .newsCard .cardBox .cardInfo p{margin-bottom: 5px;font-size: 12px;line-height: 18px;font-weight: 500;color: #ababab;display: flex;flex-direction: row;justify-content: space-between;}
.blog_detail_sec .newsCard .cardBox .cardInfo span{color: #ababab;}
.blog_detail_sec .newsCard .cardBox .cardInfo img{
    width: 12px;
    height: auto;
    position: relative;
    top: -1px;
}
.blog_detail_sec .newsCard .cardBox .cardInfo h4{color: #000;font-size: 16px;line-height: 20px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* number of lines to show */line-clamp: 2;-webkit-box-orient: vertical;}
.blog_detail_sec .newsCard .cardBox .cardInfo h5{
    color: #000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    /* or inline-block */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.blog_detail_sec .newsCard .cardBox .cardInfo .btn{
    padding: 0;
    color: #1076f2;
    transition: 0.5s ease;
    font-size: 14px;
    font-weight: 600;
}
.blog_detail_sec .newsCard .cardBox .cardInfo .btn:hover{
  color: #0456bb;
}
/* category area */
.blog_detail_sec{color: aquamarine; margin-top: 75px;
    display: inline-block;
    width: 100%;
}
.blog_detail_sec .newsCard{color: aquamarine;}
.blog_detail_sec .newsCard .subHeadline{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog_detail_sec .newsCard .subHeadline h3{color: #fff;}
.blog_detail_sec .newsCard .subHeadline .btn{color: #fff;font-weight: 500;font-size: 14px;}
.blog_detail_sec .newsCard .cardBox{
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 25px;
}
.blog_detail_sec .newsCard .cardBox .picArea{width: 100%;
  height: 175px;}
.blog_detail_sec .newsCard .cardBox .picArea .img{
    border-radius: 6px 6px 0 0;
}
.blog_detail_sec .newsCard .cardBox .cardInfo{
    padding: 10px 15px 15px;
}
.blog_detail_sec .newsCard .cardBox .cardInfo p{margin-bottom: 5px;font-size: 12px;line-height: 18px;font-weight: 500;color: #ababab;display: flex;flex-direction: row;justify-content: space-between;}
.blog_detail_sec .newsCard .cardBox .cardInfo span{color: #ababab;}
.blog_detail_sec .newsCard .cardBox .cardInfo img{
    width: 12px;
    height: auto;
    position: relative;
    top: -1px;
}
.blog_detail_sec .newsCard .cardBox .cardInfo h4{color: #000;font-size: 16px;line-height: 20px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* number of lines to show */line-clamp: 2;-webkit-box-orient: vertical;}
.blog_detail_sec .newsCard .cardBox .cardInfo h5{
    color: #000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    /* or inline-block */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.blog_detail_sec .newsCard .cardBox .cardInfo .btn{
    padding: 0;
    color: #1076f2;
    transition: 0.5s ease;
    font-size: 14px;
    font-weight: 600;
}
.blog_detail_sec .newsCard .cardBox .cardInfo .btn:hover{
  color: #0456bb;
}
.blog_detail_sec .section-1 .details-area{

background: #fff;

padding: 25px;

border-radius: 10px;

margin-bottom: 35px;
}
.blog_detail_sec .section-1 .details-area .pic-area .img{

border-radius: 10px;

margin-bottom: 25px;
}
.blog_detail_sec .section-1 .details-area .info-area{
    margin-bottom: 25px;
}
.blog_detail_sec .section-1 .details-area .info-area h6{
    color: #a7a7a7;
    font-size: 12px;
    margin-bottom: 25px;
}
.blog_detail_sec .section-1 .details-area .info-area span{
    font-size: 12px;
    padding: 8px;
    margin-right: 25px;
    color: #030b4f;
    background: #c0c7ff;
    font-weight: 700;
}
.blog_detail_sec .section-1 .details-area .info-area h4{
    font-size: 20px;
    line-height: 26px;
    color: #000;
    font-weight: 600;
}
.blog_detail_sec .section-1 .details-area .info-area p{
    color: #000;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.newpostarea .subHeadline h3{font-size: 28px;line-height: 34px;color: #fff;font-weight: 500;margin-bottom: 10px;}
.newpostarea .post-area .postcard{display: flex;flex-direction: row;background: #fff;padding: 15px 10px;border-radius: 6px; margin-bottom: 15px;}

.newpostarea .post-area .postcard .pic-area{
    width: 25%;
    height: 66px;
}
.newpostarea .post-area .postcard .info-area{
    flex: 1;
    padding-right: 10px;
}
.newpostarea .post-area .postcard .info-area h4{
    font-size: 12px;
    line-height: 16px;
    color: #000;
    font-weight: 600;
}
.newpostarea .post-area .postcard .info-area h6{
    color: #a7a7a7;
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.newpostarea .post-area .postcard .info-area span{
    font-size: 12px;
    color: #030b4f;
    background: #c0c7ff;
    padding: 5px;
    margin-right: 10px;
    font-weight: 600;
}
.newpostarea .post-area .postcard .pic-area .img{border-radius: 4px;height: 100%;width: 100%;object-fit: cover;}

.banner-section{position: relative;}